body {

font-family: Arial, sans-serif;
margin: 0;
background: #0f0f14;
color: white;

}

header {

background: #1c1c25;
padding: 30px;
text-align: center;

}

nav a {

margin: 0 15px;
text-decoration: none;
color: #7cc7ff;
font-weight: bold;

}

section {

padding: 60px 20px;
max-width: 900px;
margin: auto;

}

h2 {

border-bottom: 2px solid #333;
padding-bottom: 10px;

}

.project {

margin-top: 40px;
background: #1b1b24;
padding: 20px;
border-radius: 10px;

}

.project img {

width: 100%;
border-radius: 6px;

}

video {

width: 100%;
margin-top: 10px;

}

.button {

display: inline-block;
padding: 12px 20px;
background: #4da6ff;
color: white;
text-decoration: none;
border-radius: 6px;
margin-top: 10px;

}

.socials a {

margin-right: 20px;
color: #7cc7ff;

}

footer {

text-align: center;
padding: 20px;
background: #1c1c25;

}
